      .pt-row {
        display: flex;
      }
      .pt-muted {
        opacity: 0.75;
      }
      .pt-title {
        font-weight: 600;
      }
      .pt-table {
        width: 100%;
      }
      :host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
      }
    